.user

  %h3= @user.name

  .providers

    - if @user.connected_providers.any?

      %h6 Connected
      %ul.connected-providers.list-group
        - @user.connected_providers.each do |provider|
          %li.connected-provider.list-group-item
            %span.provider-icon{class: "fui-#{provider}"}
            = provider.name
            %span.fui-check.pull-right

    - if @user.disconnected_providers.any?

      %h6 Disconnected
      %ul.disconnected-providers.list-group
        - @user.disconnected_providers.each do |provider|
          %li.disconnected-provider.list-group-item
            %span.provider-icon{class: "fui-#{provider}"}
            = link_to provider.name, login_path(provider: provider)
            %span.fui-cross.pull-right

  = link_to 'Edit account', edit_user_path(@user)
