= content_tag_for :li, link, class: "media #{domain_class_name(link)}", data: { id: link.id } do

  - if link.image_url

    = link_to image_tag(link.image_url, class: 'media-object img-rounded img-responsive img-64x64', alt: link.title), link.url, class: 'pull-left link-image'

  - else

    .pull-left.link-image
      .img-placeholder.img-64x64

  .media-body

    %h6.media-heading
      - if link.domain.present?
        = link_to link.domain, domain_links_path(link.domain), class: 'domain'

      = embeddable_type(link) if embeddable?(link)
      = link_to link.title.try(:html_safe), link.url, target: '_blank', class: 'title'

    %p.description
      - if link.description.present?
        = truncate(link.description, length: 140, separator: ' ').html_safe
      - elsif link.lede.present?
        = truncate(link.lede, length: 140, separator: ' ').html_safe

    = embed(link)

    - if link.tags.any?
      .tags
        - link.tags.first(5).each do |tag|
          = link_to tag, tagged_links_path("#{tag}"), class: 'tag label label-default'

    -# %p.posted-at= link.posted_at.to_formatted_s
