= content_tag_for :li, link, class: "media #{domain_class_name(link)}" do

  - if link.image_url

    = link_to image_tag(link.image_url, class: 'media-object img-rounded img-responsive img-64x64', alt: link.title), link.url, class: 'pull-left'

  - else

    .pull-left
      .img-placeholder.img-64x64

  .media-body
    - if link.domain.present?
      %p.domain= link_to link.domain, domain_links_path(link.domain)
    %h6.media-heading
      = embeddable_type(link) if embeddable?(link)
      = link_to link.title.try(:html_safe), link.url, target: '_blank'

    %p.description
      - if link.description.present?
        = link.description.try(:html_safe)
      - elsif link.lede.present?
        = link.lede.try(:html_safe)

    = embed(link)

    - if link.tags.any?
      .tags
        - link.tags.each do |tag|
          = link_to tag, tagged_links_path("#{tag}"), class: 'label label-default'

    -# %p.posted-at= link.posted_at.to_formatted_s
