- content_for :list_menu do

  %h3 Classifications

- content_for :main do

  = simple_form_for :classification, url: classify_classifications_url do |f|

    %legend Classifier

    - if @sample.present?

      .link{ id: "link_#{@sample.id}" }

        %h3.title
          = link_to @sample.title.try(:html_safe), @sample.url, target: '_blank'

        - if @sample.description
          .description.attribute-block
            %h4 Description
            %p= @sample.description

        - if @sample.html_content.present?
          .html-content.attribute-block
            %h4 HTML Content
            = @sample.html_content.html_safe

        - elsif @sample.content.present?
          .content.attribute-block
            %h4 Content
            = @sample.content

      = f.hidden_field :link_id, value: @sample.id
    
    = f.input :structural_classification_id, as: :grouped_collection_select, collection: Classification.all.group_by(&:content_type), group_method: :last, label: false, input_html: { class: 'select2 input-lg', 'data-placeholder' => 'What kind of document is this?' }

    = f.input :tags, label: false, input_html: { class: 'select2-ajax input-lg', data: { url: tags_url, multiple: true, placeholder: 'What kind of content is this?' } }

    = f.button :submit, 'Save', class: 'btn-primary btn-block btn-lg'

    = link_to 'Refresh Link', refresh_link_path(@sample), class: 'btn btn-default btn-block btn-lg'