- content_for :list_menu do

  %h3 Classifications

- content_for :main do

  = default_form_for :classification, url: classifications_url do |f|

    %legend Classifier

    - if @sample.present?

      %dl.dl-horizontal
        - for attribute in @sample.attributes
          %dt= attribute.human_name
          %dd= attribute.name

      = f.input :sample_id, value: @sample.id, as: :hidden, label: false, input_html: { class: 'input-lg', placeholder: 'Sample' }
    
    = f.input :structural, as: :grouped_collection_select, collection: Classification.all.group_by(&:content_type), group_method: :last, label: false, input_html: { class: 'select2 input-lg', 'data-placeholder' => 'What kind of document is this?' }

    = f.input :topical, label: false, input_html: { class: 'select2-ajax input-lg', data: { url: tags_url, multiple: true, placeholder: 'What kind of content is this?' } }

    = f.button :submit, 'Save', class: 'btn-primary btn-block btn-lg'