%li= link_to 'Home', root_path

- if signed_in?

  %li= link_to 'Links', links_path

- else

  %ul.nav.navbar-nav.navbar-right
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
        Login
        %b.caret
      %span.dropdown-arrow
      %ul.dropdown-menu
        %li= link_to 'Facebook', login_path(provider: 'facebook')
        %li= link_to 'Twitter', login_path(provider: 'twitter')
        %li= link_to 'Pocket', login_path(provider: 'pocket')
        %li= link_to 'Instapaper', login_path(provider: 'instapaper')
