%ul.nav.navbar-nav.navbar-right
  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
      = current_user.name
      %b.caret
    %span.dropdown-arrow
    %ul.dropdown-menu
      %li= link_to 'Profile', user_path(current_user)
      - unless current_user.connected_facebook?
        %li= link_to 'Connect Facebook', login_path(provider: 'facebook')
      - unless current_user.connected_twitter?
        %li= link_to 'Connect Twitter', login_path(provider: 'twitter')
      %li= link_to 'Logout', logout_path
