!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'MarkyMarks'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Markymark'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container-fluid
      #sidebar.layout-col
        .menu
      #navigation.layout-col
        .menu
        .content.rendered.clearfix
          = yield
      #main.layout-col
        .menu
        .content.rendered.clearfix Hello

        %footer
          %p.pull-right &copy; 2014 lightyrs
